//colors
$color_primary_Violet: hsl(257, 40%, 49%);
$color_primary_SoftMagenta: hsl(300, 69%, 71%);
//Layouts
$maxWidth_desktop: 1440px;
$maxWidth_mobile: 375px;
//Typography
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
$font_heading_poppins: 'Poppins', sans-serif;
$font_body_openSans: 'Open Sans', sans-serif;

@mixin font_heading_regular {
    font-family: $font_heading_poppins;
    font-weight: 400;
}

@mixin font_heading_semiBold {
    font-family: $font_heading_poppins;
    font-weight: 600;
}

@mixin font_body_regular {
    font-family: $font_body_openSans;
    font-weight: 400;
}
//Style
* {
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {
        width: 100%;
        height: 800px;
        max-width: $maxWidth_desktop;
        background: url(./images/bg-desktop.svg) no-repeat, $color_primary_Violet;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        header {
            width: 100%;

            .logo {
                padding: 4rem 8rem 1rem;
                align-self: flex-start;

                img {
                    max-width: 13rem;

                }
            }
        }

        .contentBox {
            display: flex;
            align-items: flex-start;
            justify-content: space-evenly;

            .landingIllustration {
                background: url(./images/illustration-mockups.svg) right no-repeat;
                width: 150%;
                min-width: 10rem;
                height: 30rem;
                background-size: contain;
            }

            .content {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                color: #fff;
                margin-left: 4rem;
                margin-right: 5rem;

                h1 {
                    @include font_heading_semiBold();
                    font-size: 2.4rem;
                    margin-top: 3rem;
                    margin-bottom: 2rem;

                }

                p {
                    @include font_body_regular();
                    margin-bottom: 2rem;
                    padding-right: 2rem;
                }

                button {
                    transition: box-shadow 400ms;
                    padding: 1rem 4rem;
                    background-color: #fff;
                    border-radius: 4rem;
                    @include font_heading_regular();
                    color: $color_primary_Violet;
                    border: none;
                    box-shadow: 0.5rem 0.5rem 1rem hsla(0, 0%, 0%, 0.5);

                    &:hover {
                        cursor: pointer;
                        box-shadow: -0.5rem -0.5rem 1rem #000;
                        background-color: $color_primary_SoftMagenta;
                        color: #fff;
                        @include font_heading_semiBold();
                    }

                    &:active {
                        cursor: pointer;
                        box-shadow: 0rem 0rem 1rem #000;
                        background-color: $color_primary_Violet;
                        color: #fff;
                    }

                }

            }

        }

        footer {
            width: 87%;
            text-align: center;
            @include font_heading_semiBold();

            .attribution {
                width: 40%;
                border-top-left-radius: 2rem;
                border-top-right-radius: 2rem;
                background-color: $color_primary_SoftMagenta;
                color: #fff;

                a {
                    color: $color_primary_Violet;
                    font-style: oblique;
                    text-decoration: none;
                }
            }

            .socials {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 1rem;

                svg {
                    transition: border-radius 400ms;
                    fill: #fff;
                    width: 2.5rem;
                    height: 2.5rem;
                    border: 1px solid white;
                    border-radius: 50%;
                    padding: 0.5rem;

                    &:hover {
                        cursor: pointer;
                        border-radius: 0;
                        fill: $color_primary_SoftMagenta;
                        border-color: $color_primary_SoftMagenta;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    body {
        background-color: $color_primary_Violet;

        .container {
            max-width: $maxWidth_mobile;
            height: 100%;
            overflow: auto;
            background: url(./images/bg-mobile.svg) no-repeat, $color_primary_Violet;
            background-size: contain, cover;

            header {
                .logo {
                    padding: 2rem 3rem;
                    align-self: flex-start;

                    img {
                        max-width: 10rem;
                    }
                }
            }

            .contentBox {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;

                .landingIllustration {
                    max-width: $maxWidth_mobile;
                    min-width: none;
                    height: 20rem;
                    background: url(./images/illustration-mockups.svg) center no-repeat;
                    background-size: contain;

                }

                .content {
                    text-align: center;
                    margin: 0;
                    width: 100%;
                    max-width: $maxWidth_mobile;

                    h1 {
                        font-size: 2rem;
                    }

                    p {
                        padding: 0;
                        padding-inline: 2.3rem;
                    }

                    button {
                        align-self: center;
                        padding: 0.99rem 8rem;
                        margin-bottom: 6rem;
                    }
                }

            }

            footer {
                width: 100%;
                height: 100%;

                .socials {
                    width: 100%;
                    justify-content: center;
                    position: relative;
                    padding-bottom: 3rem;

                }

                .attribution {
                    justify-content: center;
                    font-size: 0.6rem;
                    position: fixed;
                    bottom: 0;
                    width: $maxWidth_mobile;

                    a {
                        font-size: 0.5rem;
                    }
                }
            }
        }
    }
}