@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
* {
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .container {
  width: 100%;
  height: 800px;
  max-width: 1440px;
  background: url(./images/bg-desktop.svg) no-repeat, hsl(257deg, 40%, 49%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
body .container header {
  width: 100%;
}
body .container header .logo {
  padding: 4rem 8rem 1rem;
  align-self: flex-start;
}
body .container header .logo img {
  max-width: 13rem;
}
body .container .contentBox {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
body .container .contentBox .landingIllustration {
  background: url(./images/illustration-mockups.svg) right no-repeat;
  width: 150%;
  min-width: 10rem;
  height: 30rem;
  background-size: contain;
}
body .container .contentBox .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #fff;
  margin-left: 4rem;
  margin-right: 5rem;
}
body .container .contentBox .content h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
body .container .contentBox .content p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 2rem;
  padding-right: 2rem;
}
body .container .contentBox .content button {
  transition: box-shadow 400ms;
  padding: 1rem 4rem;
  background-color: #fff;
  border-radius: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: hsl(257deg, 40%, 49%);
  border: none;
  box-shadow: 0.5rem 0.5rem 1rem hsla(0deg, 0%, 0%, 0.5);
}
body .container .contentBox .content button:hover {
  cursor: pointer;
  box-shadow: -0.5rem -0.5rem 1rem #000;
  background-color: hsl(300deg, 69%, 71%);
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
body .container .contentBox .content button:active {
  cursor: pointer;
  box-shadow: 0rem 0rem 1rem #000;
  background-color: hsl(257deg, 40%, 49%);
  color: #fff;
}
body .container footer {
  width: 87%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
body .container footer .attribution {
  width: 40%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: hsl(300deg, 69%, 71%);
  color: #fff;
}
body .container footer .attribution a {
  color: hsl(257deg, 40%, 49%);
  font-style: oblique;
  text-decoration: none;
}
body .container footer .socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
body .container footer .socials svg {
  transition: border-radius 400ms;
  fill: #fff;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5rem;
}
body .container footer .socials svg:hover {
  cursor: pointer;
  border-radius: 0;
  fill: hsl(300deg, 69%, 71%);
  border-color: hsl(300deg, 69%, 71%);
}

@media only screen and (max-width: 600px) {
  body {
    background-color: hsl(257deg, 40%, 49%);
  }
  body .container {
    max-width: 375px;
    height: 100%;
    overflow: auto;
    background: url(./images/bg-mobile.svg) no-repeat, hsl(257deg, 40%, 49%);
    background-size: contain, cover;
  }
  body .container header .logo {
    padding: 2rem 3rem;
    align-self: flex-start;
  }
  body .container header .logo img {
    max-width: 10rem;
  }
  body .container .contentBox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  body .container .contentBox .landingIllustration {
    max-width: 375px;
    min-width: none;
    height: 20rem;
    background: url(./images/illustration-mockups.svg) center no-repeat;
    background-size: contain;
  }
  body .container .contentBox .content {
    text-align: center;
    margin: 0;
    width: 100%;
    max-width: 375px;
  }
  body .container .contentBox .content h1 {
    font-size: 2rem;
  }
  body .container .contentBox .content p {
    padding: 0;
    padding-inline: 2.3rem;
  }
  body .container .contentBox .content button {
    align-self: center;
    padding: 0.99rem 8rem;
    margin-bottom: 6rem;
  }
  body .container footer {
    width: 100%;
    height: 100%;
  }
  body .container footer .socials {
    width: 100%;
    justify-content: center;
    position: relative;
    padding-bottom: 3rem;
  }
  body .container footer .attribution {
    justify-content: center;
    font-size: 0.6rem;
    position: fixed;
    bottom: 0;
    width: 375px;
  }
  body .container footer .attribution a {
    font-size: 0.5rem;
  }
}/*# sourceMappingURL=style.css.map */